@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
body {
    margin: 0px;
    background-color: #ff710d;
    
}
.login-form{
    background-color: white;
    margin: auto;
    width: 35%;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
}
.text-box{
    width: 100%;
    padding: 0.6em 0.3em;
    border-radius: 8px;
    box-sizing:border-box;
    color: #414a67;
    border: 1px solid #d0d0d0;
}
.button{
    border-radius: 30px;
    background-color: #ff710d;
    border: none;
    margin-top: 20px;
    padding: 0.6em 2.4em;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: scale 0.5s, outline 0.5s, background 0.5s, color 0.5s;
}
.button:hover{
    outline: 1px solid #ff710d;
    background-color: white;
    scale: 1.1;
    color: #ff710d;
}
.button:active{
    background-color: #ff710d;
    color: white;
    outline: 1px solid white;
}
